body,
ul,
li,
p {

	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 1.2rem;
	font-family: Arial;

}
a{

	text-decoration: nome;
	color: white;

}
h1 {

text-align: center;
margin-top: 100pt;
}
img {

max-width: 100%;
display: block;
}
.header {
	background: #1d1e20;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.menu {
	display: flex;
}
.menu li {
	margin-left: 20px;
}

.menu li a {
	display: block;
	padding: 10px;
}

/* CSS FLEXBOX */

.flex {
display: flex;
flex-wrap: wrap;
max-width: 800px;
margin: 0 auto;

}
.flex >div {

	flex: 1 1 200px;
	margin: 0,1px;

}

/* CSS GRID 1 */

.grid1 {

	display: grid;
	grid-template-columns: 1fr 200px;
	grid-gap: 20px;
	max-width: 800px;
	padding: 10px;
	margin: 0 auto;
}
.sidebar > div {

	margin-bottom: 10px;
}
@media (max-width: 600px) {

	.grid1 {

		grid-template-columns: 1fr;
		padding: 10px;
		margin: 0 auto;

	}
}